/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Borel", cursive;
  text-align: center;
  color: white;
  margin: 0;
  background-image: url('../images/background-image.png'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Navigation */
header {
    background-color: rgba(160, 68, 252, 0.8);
    padding: 1vh;
    position: relative;
    z-index: 1;
  }
  
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo img {
  width: 4vw;
  height: 4vw;
  padding: 1vw;
  margin: 0;
}

.company-name {
  color: white;
  font-size: 5vh;
  margin-left: .5vw;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2vw;
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #e74c3c;
}

/* Centered sections */
.container {
  flex: 1;
  max-width: 90vw;
  margin: 0 auto;
}

.container h4 {
  flex: 1;
  max-width: 90vw;
  margin: 0 auto;
  font-family: cursive;
}

.centered-section {
  padding: 10vh 0;
}

.centered-section h2 {
  font-size: 3vh;
  margin-bottom: 2vh;
}

/* Footer */
footer {
  background-color: rgba(160, 68, 252, 0.8);
  color: white;
  padding: 2vh 0;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-top: -2vh;
}

footer p {
  margin-bottom: 1vh;
}

footer ul {
  list-style: none;
  display: flex;
  gap: 2vw;
  justify-content: center;
}

footer a {
  color: white;
  text-decoration: none;
}

.privacy-tos {
  font-family: cursive;
  text-align: left;
  margin: 0;
}

.pst {
  font-family: "Borel", cursive;
  font-family: "Pacifico", cursive;
}

/* Rectangels*/
/* Rectangle section styling */
.rectangle-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 20px;
}

.rectangle {
  background-color: rgba(160, 68, 252, 0.2);
  border: 1px solid transparent;
  padding: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.rectangle:hover {
  border-color: rgba(160, 68, 252, 0.6);
  transform: scale(1.05);
}

.rec-icon {
  width: 40px;
  height: 40px;
  background-color: #a044fc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}

.rec-text {
  font-family: cursive;
  flex: 1;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .centered-section h2 {
    font-size: 2.5vh;
  }

  .rectangle-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .centered-section h2 {
    font-size: 2vh;
  }

  .rectangle-section {
    grid-template-columns: 1fr;
  }
}
